{% if product.metafields.custom.related_product %}
{{ 'component-you-may-also-like.css' | asset_url | stylesheet_tag }}
<div class="you-may-also-like-in">

      {% assign relatedProducts = product.metafields.custom.related_product.value %}
      <!-- check at least one recommended product is available --> 
      {%- liquid 
        assign has1product = false
        for prod in relatedProducts
          if prod.available == true
            assign has1product = true
          endif
        endfor

      -%}
      {% if has1product %}
        <h2 class="heading" {{ block.shopify_attributes }}>{{section.settings.related_product_heading}}</h2>
        <div class="related-products">
          <ul class="related-product-list">
            {% for prod in relatedProducts %}
                {% if prod.available == true %}
                <li class="related-product-item">
                    <a href="{{ prod.url }}" aria-label="{{prod.title}}" title="{{ prod.title }}">
                        <div class="related-product-img-box">
                          <img loading="lazy" class="related-product__image" width="{{prod.featured_image.width}}" height="{{prod.featured_image.height}}" src="{{ prod.featured_image.src | img_url: '500x' }}" alt="{{ prod.title }}"> 
                        </div>   
                        <h6 class="related-product-heading">{{ product.type }}</h6>              
                        <h4 class="related-product-heading">{{ prod.title }}</h4>
                        {{prod}}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>  
        </div>
      {% endif %}
</div>
{% endif %} 

{% schema %}
{
    "name": "You May Also Like",
    "tag": "section",
    "class": "you-may-also-like",
    "settings": [
        {
            "type": "text",
            "id": "related_product_heading",
            "label": "Heading",
            "default": "You May Also Like:"
        }
    ],
    "presets": [
      {
        "name": "You May Also Like"
      }
    ]    
}
{% endschema %}